<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_sinup_style.css' %}">
</head>
<body>
    <section class="wrapper">
        <div class="form-container">
            <header>Login</header>

            <!-- Display error messages -->
            {% if messages %}
                <div class="error-messages">
                    {% for message in messages %}
                        <p class="error-message">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" name="email" placeholder="Email Address" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </form>

            <div class="no-account">
                <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
            </div>
        </div>
    </section>
</body>
</html>
