{% load static %}
<link rel="stylesheet" href="{% static "css/style.css"%}">
<section class="about" id="about">
    <div class="about-img">
      <img src="{% static "img/about.jpg" %}" alt="About Us Image">
    </div>
    <div class="about-text">
      <h2>Our Team</h2>
      <p>Eslam Ashraf - Project Manager</p>
      <p>Abdelrahman Shalaby - Frontend Developer</p>
      <p>Mahmoud Osama - Frontend Developer</p>
      <p>Amr Khaled - Frontend Developer</p>
      <p>Rahma - Backend Developer</p>
      <a href="{% static "home.html" %}" class="btn">Learn More</a>
    </div>
  </section>